html{
    width: 100%;
    height: 100%;
}

body{
    background-image: url("../images/fond.svg");
    background-size: 15%;
    font-family: 'Raleway', monospace;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

header{
    border-bottom: 2px solid #60605F;
    margin-bottom: 1%;
    position: relative;
    top: 0;
    z-index: 20;
    height: 5%;
}

.gameTitle{
    text-transform: uppercase;
    text-align: right;
    margin-right: 15%;
    color: #60605F;
}

section{
    width: 100%;
    height: 100%;
}

.invadersGroup{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 60%;
    height: 50%;
    position: absolute;
    left: 5%;
    top:7%;
}

.invadersRow:nth-child(odd){
    align-self: flex-end;
}

.invadersRow{
    display: flex;
    width: 80%;
    height: 23%;
    margin-top: 1%;
}

.invader{
    width: 100%;
    height: 100%;
    background-image: url(../images/pain.svg);
    background-repeat: no-repeat;
    background-position: center center;
}

.cat{
    background-image: url(../images/chat.svg);
    width: 20%;
    height: 20%;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    bottom: 5px;
    left: 40%;
}

.balle{
    width: 1vh;
    height: 1vh;
    border-radius: 10px;
    background-color: #C13A64;
    z-index: 10;
    position: absolute;
<<<<<<< HEAD
    top: 0;
    left:0;
=======
    top: 0px;
    left: 0px;
}

.laserennemi{
    width: 10px;
    height: 20px;
    border-radius: 50%;
    background-color: green;
    position: relative;
    left: 35px;
    bottom: 0;
}

.hidden{
    display: none;
}

.gagne {
    background-color: red;
>>>>>>> eaf522a4de5b44633d0ff286a17a3eb963577f21
}